PORT=5000
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=new_horizons_attendance_v2
DB_RECOVERY_MODE=false

JWT_SECRET=secret
JWT_EXPIRES_IN=7d

CLIENT_URL=http://localhost:3000
